body{
    background-color: grey;
}

.cieloBernie{
    background-image: url(./../img/cieloBernie.webp);
    width: 670vw;
    height: 40vw;
    position: relative;
    background-repeat: no-repeat;
    top: 10vw;
}

.berniePj{
    margin: auto;
    top: 28vw;
    image-rendering: pixelated;
    position: fixed;
    width: 60px;
    height: 100px;
    left: 50vh;
    background: url(../img/berniePj.webp);
    background-size:cover;
    animation: movimiento .46s steps(7) infinite;
}

@keyframes movimiento{
    from{
background-position: 0px;
    }
    to{
        background-position: -2000px;
    }
}

.puenteBernie{
    margin: auto;
    top: 3vw;
    image-rendering: pixelated;
    position: relative;
    width: 100vw;
    height: 30vw;
    top: -10vw;
    background-image: url(../img/puenteBernie.webp);
    background-size:cover;
    animation: movimiento .46s steps(6) infinite;
}

@keyframes movimiento{
    from{
background-position: 0px;
    }
    to{
        background-position: -2000px;
    }
}