body{
    background-color: black;
    margin: auto;
    padding: auto;
}



.page1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    background-color: black;
    padding: 1.4vw;
}

.page1 > div {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 3%;
}

.plastick2023 {
    grid-column-start: 1;
    width: auto;
}

.wedeeply{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;

}

.littleChanges {
    grid-column-start: 1;
    grid-column-end: 3;
}




.terodactilo{
    background-image: url(./../Gift/1.gif);
    background-size: cover;
    width: auto;
    height: 30vw;
}
.plastick2023{
    background-image: url(./../Gift/2.gif);
    background-size: cover;
    width: auto;
    height: 30vw;
}

.wedeeply{
    background-image: url(./../Gift/txtPage1.jpg);
    background-size: cover;
}

.littleChanges{
    background-image: url(./../Gift/3.gif);
    background-size: cover;
    width: auto;
    height: 55vw;
}




.page2 {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 1.4vw;
    border-radius: 1%;
    grid-gap: 1vw;
}
.page2 > div {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 6vw ;
    border-radius: 3%;
}


.collageImg {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;

}


.txtVerde{
    background-image: url(./../Gift/txtPage2.jpg);
    background-size: cover;
    height: 20vw;
    width: auto;
}

.tricePage2{
    background-image: url(./../Gift/tricePage2.gif);
    background-size: cover;
    height: 20vw;
    width: auto;
}


.collageImg{
    background-image: url(./../Gift/collageImg.jpeg);
    background-size: cover;
}
