

.page1 {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
}

.page1 > div {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 20px ;
    font-size: 30px;
}

.plastick2023 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 10;
}

.wedeeply{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 10;
}

.littleChanges {
    grid-column-start: 1;
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-end: 3;
}




.terodactilo{
    background-image: url(./../Gift/1.gif);
    background-size: cover;
    height: 20vh;
}

.plastick2023{
    background-image: url(./../Gift/2.gif);
    background-size: cover;
    height: 20vh;
}

.wedeeply{
    background-image: url(./../Gift/txtPage1.jpg);
    background-size: cover;
    height: 20vh;
}

.littleChanges{
    background-image: url(./../Gift/3.gif);
    background-size: cover;
    height: 40vh;
}














.page2 {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    background-color: black;
    padding: 10px;
}
.page2 > div {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 20px ;
    font-size: 33px;
}

.tricePage2 {
    grid-column-start: 1;
    grid-row-start: 20;
    grid-row-end: 10;
}

.txtVerde {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 10;
}

.collageImg {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 20;

}


.txtVerde{
    background-image: url(./../Gift/txtPage2.jpg);
    background-size: cover;
    height: 20vh;
}

.tricePage2{
    background-image: url(./../Gift/tricePage2.gif);
    background-size: cover;
    height: 20vh;
}


.collageImg{
    background-image: url(./../Gift/collageImg.jpeg);
    background-size: cover;
    height: 20vh;
}
