

.page1 {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    background-color: black;
    padding: 1.5vw;
}

.page1 > div {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 2vw ;
    border-radius: 3%;
}

.plastick2023 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 10;
}

.wedeeply{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 10;
}

.littleChanges {
    grid-column-start: 1;
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-end: 3;
}




.terodactilo{
    background-image: url(./../Gift/1.gif);
    background-size: cover;
    width: 35vw;
    height: 20vw;
}

.plastick2023{
    background-image: url(./../Gift/2.gif);
    background-size: cover;
    width: 35vw;
    height: 20vw;
}

.wedeeply{
    background-image: url(./../Gift/txtPage1.jpg);
    background-size: cover;
    width: 33vw;
    height: 45vw;
}

.littleChanges{
    background-image: url(./../Gift/3.gif);
    background-size: cover;
    width: 70vh;
    height: 40vh;
}




.page2 {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 1vw;
}
.page2 > div {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 6vw ;
    font-size: 3.3vw;
    border-radius: 5%;
}

.tricePage2 {
    grid-column-start: 1;
    grid-row-start: 20;
    grid-row-end: 10;
}

.txtVerde {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 10;
}

.collageImg {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 20;

}


.txtVerde{
    background-image: url(./../Gift/txtPage2.jpg);
    background-size: cover;
    height: 15vw;
    width: 30vw;
}

.tricePage2{
    background-image: url(./../Gift/tricePage2.gif);
    background-size: cover;
    height: 15vw;
    width: 30vw;
}


.collageImg{
    background-image: url(./../Gift/collageImg.jpeg);
    background-size: cover;
    width: 30vw;
    height: 50vw;
}
